<a href="https://colab.research.google.com/github/sehgalsakshi/New-Repository/blob/master/3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#<center>Assignment 3</center>

1. Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [ ]:
import functools

In [ ]:
def myreduce(func, _list):
  if _list is None or len(_list) == 0:
    raise TypeError('reduce() of empty sequence with no initial value')
  result = _list[0]
  for i in _list[1:]:
    result = func(result, i)
  return result

### Testing my reduce

In [ ]:
list1=range(100)
print('Reducing list using add')
print(f'Reducing with my reduce :D : {myreduce(lambda a,b : a+b, list1)}')
print(f'Reducing with python\'s reduce :( : {functools.reduce(lambda a,b : a+b, list1)}')
print('\n')
print('Reducing list using max number')
print(f'Reducing with my reduce :D : {myreduce(lambda a,b : a if a > b else b, list1)}')
print(f'Reducing with python\'s reduce :( : {functools.reduce(lambda a,b : a if a > b else b, list1)}')

Reducing list using add
Reducing with my reduce :D : 4950
Reducing with python's reduce :( : 4950


Reducing list using max number
Reducing with my reduce :D : 99
Reducing with python's reduce :( : 99

In [ ]:
list2 = ['a','b','c']
print('Concatenation string')
print(f'Reducing with my reduce :D : {myreduce(lambda a,b : a+b, list2)}')
print(f'Reducing with python\'s reduce :( : {functools.reduce(lambda a,b : a+b, list2)}')

Concatenation string
Reducing with my reduce :D : abc
Reducing with python's reduce :( : abc

2. Write a Python Program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [ ]:
def myfilter(func, _list):
  if _list is None or len(_list) == 0:
    raise TypeError('filter() of empty sequence with no initial value')
  _list = list(_list)
  iterator_list = []
  result_list = []
  for i in _list:
    iterator_list.append(func(i))
  for idx, element in enumerate(iterator_list):
    if element is True:
      result_list.append(_list[idx])
  return iterator_list, result_list

### Testing my filter

In [ ]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
print(list(adults))

[18, 24, 32]

In [ ]:
adults_iterator, adults_list = myfilter(myFunc, ages)
print(adults_list)

[18, 24, 32]

2. Implement List comprehensions to produce the following lists.<br>
Write List comprehensions to produce the following Lists<br>
['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']<br>
['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']<br>
[[2], [3], [4], [3], [4], [5], [4], [5], [6]]<br>[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]<br>
[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1,3), (2,3), (3,3)

In [ ]:
input_list1 = ['x','y','z']
output_list1 = [elem*i for elem in input_list1 for i in range(1,5)]
print(input_list1,'--->', output_list1)

['x', 'y', 'z'] ---> ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
input_list2 = ['x','y','z']
output_list2 = [elem*i for i in range(1,5) for elem in input_list2]
print(input_list2,'--->', output_list2)

['x', 'y', 'z'] ---> ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
input_list3 = [2,3,4]
output_list3 = [ [elem+num] for elem in input_list3 for num in range(0,3)]
print(input_list3,'--->', output_list3)

[2, 3, 4] ---> [[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
input_list4 = [2,3,4,5]
output_list4 = [ [elem+num for elem in input_list4] for num in range(0,4)] 
print(input_list4,'--->', output_list4)

[2, 3, 4, 5] ---> [[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
input_list5 = [1,2,3]
output_list5 = [ (elem1, elem2) for elem1 in input_list5 for elem2 in input_list5] 
print(input_list5,'--->', output_list5)

[1, 2, 3] ---> [(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]